//Site colours
$siteBlack:#0d1b2a; 
$siteBlueBlack:#1B263B; 
$siteMidBlue: #415A77; 
$siteLightBlue: #778DA9; 
$siteWhite:#E0E1DD; 
$siteYellow:#fbdd9b; 

// 

@mixin gradientBg { 
background: rgb(13,27,42);
background: linear-gradient(18deg, rgba(13,27,42,1) 0%, rgba(27,38,59,1) 35%, rgba(65,90,119,1) 100%);
}




