@use '../styles/partials/mixins.scss' as *; 

body{
    margin:0; 
    padding:0; 
    font-family:'Raleway', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

h1{
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Raleway'; 
  margin-top: 0;
  margin-bottom:0; 
}

h2{ font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;

}

h3{
  font-family: 'Raleway';
  font-size: 1rem; 
  margin-top: 0;
  margin-bottom:0; 
  // border-bottom: solid 1px $siteMidBlue;
  color: $siteDarkWhite;
  // margin-bottom: 0.5rem;
}


.header{ 
  //  padding: rem; 
   display: flex; 
   flex-direction: column;
   justify-content: center; 
   align-content:center; 
   align-items: center;
   background-color: $siteMidBlue;
   color: $siteWhite;
   padding:1rem; 
   &--subheader{
    margin-top:0;
    color: $siteDarkWhite; 
   }
   &__image{
    height:3rem;
    width: 30%;
   }

}

.error__para{
   background-color: $siteWhite; 
   color: $siteBlueBlack;
   border-radius: 5px;
   text-align: center;
   padding: 10px;
   border:2px solid $siteBlueBlack;
   font-weight: 600;
   font-family: 'Raleway'; 
   margin-bottom: 20px;
}

.card{
    &__header{
      font-weight: bold;
      color: $siteWhite;
      font-size: 3rem;
      margin:0
    }
    &__subheader{
      font-weight: bold;
      color: $siteWhite;
      font-size: 2.5rem;
    }
    &__parent{
        background-image: url('https://cdn.pixabay.com/photo/2023/04/17/12/10/pattern-7932239_1280.jpg');
        background-color: $siteWhite;
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100vh; 
        padding-bottom:2rem; 
        flex-direction: column;

    }
    &__container{
        display: flex;
        flex-direction: column;
        justify-content:flex-start; 
        align-items: center;
        padding: 1rem; 
        // margin-top: 2rem;
        height:auto; 
        width:70vh; 
        background-color: $siteLightBlue;
        border-radius: 10px; 
        box-shadow: 0 8px 8px 0 rgba(0,0,0.4,0.4);

    }
    &__output{
      display: flex;
      flex-direction: column;
      justify-content: center; 
      display: none;
      &--generated{
        background-color: $siteWhite;
        border-radius: 5px;
        padding: 0.25rem;
        color: $siteBlueBlack;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center; 
        text-align: center;
      }
      &--list{
        list-style: none; 
        background: $siteLightBlue;
        margin: 10px;
        font-family: 'Raleway'; 
        font-weight:500;
        color:$siteWhite;
        border-radius: 5px;
        padding:10px;
        font-size: 1rem; 
      }

    }
    &__input{
        display: flex;
        flex-direction:column;
        padding: 1rem; 
        align-items: center;
        align-content: flex-start;
        justify-content: center;
        width: 100%;
        &--section{
        display: flex;
        align-items: center;
        align-content: flex-start;
        justify-content: center;
        }
        &--form{
          display: flex;
          flex-direction:row;
          margin-top: 1.5rem;
          margin-bottom: 0;
        }
        &--label{
          padding-bottom:0.25rem; 
          padding-right:0.25rem; 
          font-size: 1.5rem;
          // padding-top:7px;
          // margin-top: 1rem;
          
          color: $siteBlack;
          font-family: 'Raleway';
          font-weight: bold;
        }
        &--box{
          padding:0.25rem;
          border-radius: 0.25rem; 
          border-style:solid; 
          border-color: $siteLightBlue;
          margin-bottom: 1rem; 
          font-style: italic;
          
        }
    }

  &__button {
    border-radius:5px; 
    padding: 1rem;
    background-color: $siteBlueBlack;
    color: $siteDarkWhite;
    width:90%; 
    display:flex; 
    align-items: center;
    justify-content: center;
    border:none; 
    font-family: 'Raleway';
    font-size:1.5rem;
    margin-top: 1rem;
    font-weight: bold;

    &:hover {
        background-color: $siteMidBlue;
    }

    &__image{
      height: 20px;
    }
  }

}
h2 {
    font-family: 'Raleway';
}
.font {
    font-family: "Raleway";
    &--italic {
      font-style: italic;
    }
    &--bold {
      font-style: bold;
    }
    &--light {
      font-style: light;
    }
}
.secret{
  position: relative;
  justify-content: flex-start;
  margin-top: 10rem;
//   border-radius: 1rem;
  width: 100%;
  &__dog{
    position: absolute;
    height: 70px;
    // left: -500%;
    bottom: -39px;
  }
}

#train {
    position: relative;
    cursor: pointer;
  }